.main_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.search_container {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 10px 11px;
}

.top_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tree_container {
  display: flex;
  flex-direction: column;
}

.second_container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.top_grid_container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 200px;
}

.bottom_grid_container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.bottom_grid_label_view {
  display: flex;
  flex-direction: column;
}

.label_style {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
}
