.contanier {
  overflow-y: auto;
  height: 85%;
}

.timeline_date {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.content {
  display: flex;
  flex-direction: row;
}

.timeline_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.timeline_icon {
  margin-right: 10px;
}

.timeline_stamp {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.timeline_content {
  cursor: pointer;
  font-size: 13px;
}

.timeline_content:hover {
  text-decoration: underline;
}

.timeline_time {
  font-size: 12px;
  color: #98a6ad;
  margin-left: 20px;
}

.timeline_line {
  color: #dee2e6;
  margin: 5px;
  height: 30px;
  font-weight: bold;
}
