.container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  border: 0.5px solid #dae0e1;
  margin-top: 10px;
  border-radius: 10px;
}

.container:hover {
  border: 1.5px solid #acb8ba;
}
.box {
  border-radius: 10px;
  background-color: #eef2f2;
  display: grid;
  grid-template-columns: 2.5fr 5fr;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #323a46;
}
.content {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 13.6px;
  color: #323a46;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
}
