/* ////////////////////////////////////////////////////////////////// */
.approvalBoxContainer {
  background-color: #f8f8f8;
  border: 1px solid;
  display: flex;
  /* justify-content: center; */
  height: 100vh;
  padding: 10px; /* subbox와의 거리를 주기 위한 padding 설정 */
  box-sizing: border-box; /* padding이 요소 크기에 포함되도록 설정 */
}

.subbox {
  flex: 1; /* flex-grow 속성을 사용하여 subbox가 가득 채우도록 함 */
  padding: 10px;
  box-sizing: border-box; /* padding이 요소 크기에 포함되도록 설정 */
  background-color: #ffffff;
}
.listHeaderBox {
  margin: 0 !important;
  padding: 13px 20px 12px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.sortListBox {
  height: 27px;
  justify-content: flex-end;
}
.docList {
  list-style: none;
}
