.container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  border: 0.5px solid #3bafda;
  margin-top: 10px;
  border-radius: 10px;
}

.container:hover {
  border: 1.5px solid rgb(59, 175, 218);
}
.box {
  border-radius: 10px;
  background-color: #dfeff8;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.title {
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.content {
  background-color: white;

  padding-left: 20px;
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.star {
  margin-top: 20px;
  margin-left: 40px;
}
