.align {
  height: 100%;
}

.containers {
  padding: 15px;
  display: flex;
  grid-gap: 30px;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.innerBox {
  height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
}

.searchBoxContainer {
  padding: 20px 0 12px 0;
  border-bottom: 1px solid #edeff1;
}
