.form_manage_container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 10px;
  height: 100%;
}

.form_data_area {
  flex-grow: 1;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
  border: 1px solid #cccc;
  margin-top: 20px;
  gap: 20px;
}

.form_list_area {
  flex: 1;

  display: flex;
  flex-direction: column;

  border: 1px solid #cccc;
  /* margin: 10px; */
}

.form_detail_area {
  flex: 1;
  border: 1px solid #cccc;
  /* margin: 10px; */
}
