.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(9, 1fr); /* 4개의 행으로 분할 */
  grid-template-areas:
    'recoFormArea favoriteArea'
    'recoFormArea favoriteArea'
    'recoFormArea favoriteArea'
    'processDocArea favoriteArea'
    'processDocArea timeLineArea'
    'processDocArea timeLineArea'
    'receRefArea timeLineArea'
    'receRefArea timeLineArea'
    ' receRefArea timeLineArea'; /* 마지막 행은 favoriteArea가 차지하지 않음 */
  gap: 20px;
  width: 100%;
  height: 100%;
  /* 기타 스타일 */
}

.recoFormArea {
  grid-area: recoFormArea;
}

.favoriteArea {
  grid-area: favoriteArea;
  /* 필요한 경우 추가 스타일 */
}

.processDocArea {
  grid-area: processDocArea;
}

.receRefArea {
  grid-area: receRefArea;
}
.timeLineArea {
  grid-area: timeLineArea;
}
