.container {
  padding: 15px;
  display: flex;
  grid-gap: 30px;
  gap: 25px;
  height: 100%;
  width: 100%;
}

.profile_container {
  margin: 20px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
}

.profile_input {
  display: none;
}

.sign_img_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign_radio_container {
  display: flex;
  flex-direction: column;
}

.sign_custom_container {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.radio_button_container {
  margin-right: 10px;
}

.image_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sign_img {
  width: 50px;
  height: 50px;
}

.sign_input {
  display: none;
}

.default_image {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #eaeaea;
  border-radius: 3px;
}

.userinfo_table_th {
  padding: 25px 20px 20px 20px;
  width: 20%;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

.customInput {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.update_userinfo_table td {
  padding-left: 15px;
  font-size: 13px;
}
