.container {
  padding: 15px;
  display: flex;
  grid-gap: 30px;
  gap: 25px;
  height: 100%;
  width: 100%;
}

.profile_container {
  display: flex;
  margin: 20px 10px;
  flex-direction: row;
}

.profile_img {
  width: 50px;
  height: 50px;
}

.profile_input {
  display: none;
}

.sign_img_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.sign_radio_container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.sign_custom_container {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.radio_button_container {
  margin-right: 10px;
}

.image_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sign_img {
  width: 50px;
  height: 50px;
}

.sign_input {
  display: none;
}

.default_image {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 3px;
}

.update_userinfo_table {
  border-collapse: collapse;
}

.userinfo_table_th {
  padding: 25px 20px 20px 20px;
  width: 27%;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  border-top: 1px solid #edeff1;
  background-color: #f3f5f6;
}

.customInput {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.update_user {
  height: 100%;
  overflow-y: scroll;
}

.update_userinfo_table td {
  font-size: 13px;
  border-top: 1px solid #edeff1;
  padding-left: 7px;
}

.update_userinfo_table td input {
  height: 27px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 5px;
  margin-left: 5px;
}

.update_user_address {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.update_userinfo_compay_table {
  border-collapse: collapse;
}

.update_userinfo_compay_table td {
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
}

.update_userinfo_compay_table td input {
  height: 27px;
  width: 270px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 5px;
  margin-left: 10px;
}
