.container {
  padding: 15px;
  display: flex;
  grid-gap: 30px;
  gap: 25px;
  height: 100%;
  width: 100%;
}

.userinfo_table {
  border-collapse: collapse;
}

.userinfo_table_th {
  padding: 25px 25px 20px 20px;
  width: 22%;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  background-color: #f3f5f6;
  /* background-color: #f1f5f7; */
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
}

.userinfo_table_td {
  padding-left: 15px;
  font-size: 13px;
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
}

.userinfo_profile {
  width: 50px;
  height: 50px;
}

.custom_sign {
  width: 50px;
  height: 50px;
}

.userinfo_compay_table {
  border-collapse: collapse;
}
