.formEditContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 51px;
  padding: 2px;
}

.categoryArea {
  flex: 2;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  overflow: scroll;
  padding: 5px;
}

.editorArea {
  flex: 8;
  /* border: 1px solid #000; */
}
