.itembox:hover {
  border: 1px solid rgb(59, 175, 218);
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.itembox {
  height: 70.4px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  cursor: pointer;
  list-style: none;
  display: flex;
  max-width: 100%;
  align-items: center;
  width: 100%;
}
.checkboxArea {
  width: 17px;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 20px;
  box-sizing: border-box;
  padding-right: 40px; /*수정가능*/
}
.dateText {
  padding-left: 30px;
  display: block;
  font-size: 13px;
  line-height: 52px;
  letter-spacing: -0.33px;
  color: #323a46;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20%;
}
.element {
  margin: 7px 0 0;
  margin: 0 0 0 20px;
  box-sizing: border-box;
  padding-right: 10px;
  width: 40%;
  padding-left: 50px;
}

.elementText {
  font-size: 13.6px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.33px;
  color: #3c4045;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  margin: 2px 0 0;
  height: 18px;
}
.info {
  display: flex;
  margin: 2px 0 0;
}
.txtinfo {
  font-size: 11px;
  line-height: 18px;
  color: #98a6ad;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.docUser {
  padding-left: 30px;
  margin: 0 0 0 20px;
  box-sizing: border-box;
  display: flex;
  width: 20%;
}
.imginfo {
  margin: 14px 6px 14px 0;
  border-radius: 24px;
  /* overflow: hidden; */
}
.docUser img {
  width: 27px;
  height: 27px;
  border: 0;
  vertical-align: top;
  margin: 0;
  padding: 0;
  overflow: clip;
  border-radius: 50%;
}
.userinfo {
  display: inline-block;
  line-height: 0;
}
.name {
  margin: 7px 0 0;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.33px;
  color: #323a46;
}
.departementInfo {
  display: inline-block;
  line-height: 0;
  min-width: 100px;
  max-width: 200px;
}
.departementList {
  height: 18px;
  display: flex;
}
.txtdep {
  font-size: 11px;
  line-height: 18px;
  color: #98a6ad;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.docStatus {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.process {
  /* color: #f0c325; 상태마다 달라야 함 */
  min-height: 18px;
  align-items: center;
  display: flex;
  border-radius: 0.25rem;
}
.txtline {
  color: rgb(32, 201, 151);
  max-width: 125px;
  max-height: 36px;
  line-height: 18px;
  white-space: normal;
  font-size: 11px;
  padding: 3px 4px 3px 4px;
  border-radius: 0.25rem;
  font-weight: bold;
}
.bar {
  color: #e8e5e5;
  font-size: 11px;
  padding-left: 2px;
  padding-right: 2px;
}
