.searchbox {
  background-color: #fff;
  border: 1px solid #bdbcbc;
  border-radius: 50px;
  display: flex;
  padding: 5px 15px 5px 10px;
}

.searchbox input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-style: none;
  background-color: #fff;
}
input:focus {
  outline: none;
}

.searchIcon:hover {
  color: rgb(110, 169, 184);
}
.searchBtn {
  width: 30px;
}
