.SearchDetailBox {
  max-width: 100%;
  width: 100%;
}
.searchItems {
  display: flex;
  width: 100%;
  flex-wrap: wrap; /* 줄 바꿈 설정 */
  justify-content: flex-start;
}

.btnArea {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.searchItem {
  display: flex;
  min-width: 33.3%;
  justify-content: center;
}
