.container {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: 'hidden';
  padding-bottom: 20px;
}
.tableheader {
  background-color: #f1f5f7;

  border: 0 solid;
  width: 100%;
}
.titleAndcontents {
  min-height: 52px;
  display: flex;
  justify-content: flex-end;
}
.title1 {
  font-size: 13.6px;
  font-weight: 550;
  color: #343a40;
  letter-spacing: -0.6px;
  text-align: center;
  width: 20%;
  padding: 0.85rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.title2 {
  font-size: 13.6px;
  font-weight: 550;
  color: #343a40;
  letter-spacing: -0.6px;
  text-align: center;
  width: 40%;
  padding: 0.85rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.title3 {
  font-size: 13.6px;
  font-weight: 550;
  color: #343a40;
  letter-spacing: -0.6px;
  text-align: center;
  width: 20%;
  padding: 0.85rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.title4 {
  font-size: 13.6px;
  font-weight: 550;
  color: #343a40;
  letter-spacing: -0.6px;
  text-align: center;
  width: 20%;
  padding: 0.85rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.docList {
  list-style: none;
  padding-inline-start: 0px !important;
  max-height: 400px;
  overflow-y: scroll;
  height: 100%;
  flex: 1;
  /* overflow: scroll; */
}

.docContainer {
  width: 100%;
  max-height: 100%;
  flex: 1;
}
.pagination {
  padding-top: 20px;
  align-items: center;
}
