.popupBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.contentContainer {
  height: 100%;
}

.detailContainer {
  overflow: scroll;
}

.notnull {
  color: red;
  padding-right: 3px;
  font-size: 14px;
}
