.test {
  /* background-color: #3bafda !important; */
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
  height: 70px;
}

.test:hover {
  /* background-color: #3bafda !important; */
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
  height: 70px;
}

.profile_drop_table {
  font-size: 14.4px;
  margin-top: 10px;
  margin-right: 10px;
}

.menubox {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 14.4px !important;
}

.iconcontainer {
  position: relative; /* 포지션을 상대적(relative)으로 설정합니다. */
}

.noticeIcon {
  width: 36px !important;
  height: 36px !important;
  /* position: absolute; 포지션을 절대적(absolute)으로 설정합니다. */
  top: -40; /* 위에서 0px 떨어진 위치에 배치합니다. */
  left: -40; /* 왼쪽에서 0px 떨어진 위치에 배치합니다. */
  z-index: 1;
  align-items: center !important;
  color: black !important;
}

.circle {
  position: absolute; /* 포지션을 절대적(absolute)으로 설정합니다. */

  z-index: 2; /* 아이콘 위에 배치합니다. */
  background-color: red; /* 배경색을 설정합니다. */
  color: white; /* 텍스트 색상을 설정합니다. */
  width: 17px; /* 너비를 조절하세요. */
  height: 17px; /* 높이를 조절하세요. */
  border-radius: 50%; /* 원 모양으로 만듭니다. */
  display: flex; /* 내부 요소 중앙 정렬을 위해 사용합니다. */
  align-items: center; /* 수직 중앙 정렬을 위해 사용합니다. */
  justify-content: center;
  top: 2px;
  left: 20px;
  font-size: 7px;
}

.notice_menubox {
  left: -180px !important;
  width: 400px;
  height: 550px;
}

.notice_menuitem {
  width: 320px !important;
  height: 68.6px;
  font-size: 14.4px !important;
}

.fixedbox {
  cursor: default !important;
  height: 43.2px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  display: flex; /* 요소를 플렉스 박스로 설정합니다. */
  align-items: center; /* 수직 정렬을 가운데로 설정합니다. */

  padding-left: 16px;
}

.menuItemSpacing:hover {
  background-color: #ececec !important;
}

/* 알림 내용 부분*/
.alarm_container {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.alarm_content {
  text-align: center;
  font-weight: bold;
}

.alarm_content_read {
  font-weight: bold;
  color: lightgray;
  text-align: center;
}

.approval_doc_title {
  text-align: center;
  font-size: 15px;
}

.approval_doc_title_read {
  text-align: center;
  color: lightgray;
  font-size: 15px;
}

.alarm_date {
  font-size: 12px;
  text-align: right;
}

.alarm_date_read {
  color: lightgray;
  text-align: right;
  font-size: 12px;
}

.alarm_user_name {
  text-align: center;
  font-size: 15px;
}

.alarm_user_name_read {
  text-align: center;
  color: lightgray;
  font-size: 15px;
}

/* 권한 선택 창 */
.table_td {
  padding: 0 15px;
  font-size: 14px;
}

.button_check_style {
  margin-top: 10px;
  text-align: center;
}

.profile_hr {
  width: 100%;
}

.menuItemSpacing:hover .notice_button {
  display: block;
}

.notice_button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
  border: none;
  background: none;
}

.notice_button_icon {
  width: 20px;
  height: 20px;
}

.notice_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  font-size: 50px;
  color: #98a6ad;
}
