.logo_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  /* background-color: #3bafda; */
  background-color: white;
  width: 240px;
  position: fixed;
  top: 0;
  z-index: 1;

  cursor: pointer;
}

.logo_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;

  /* 텍스트용 */
  font-weight: bold;
  font-size: 35px;
  color: #465b59;
}

.logo_icon img {
  max-height: 100%; /* 이미지를 부모 요소에 맞게 조절 */
  max-width: 100%; /* 이미지를 부모 요소에 맞게 조절 */
}
