.formListContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}

.formListContainer > hr {
  border: 1px solid #eee;
  width: 100%;
  margin: 0px;
}

.searchArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formListArea {
  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow-x: scroll;
}

.inputStyle {
  width: 100%;
  color: black;
  font-size: 13px;
  height: 27px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding-left: 10px;
}

.customBtnStyle {
  background-color: transparent;
  border: 1px solid #cecfd1;
  font-size: 15px;
  padding: 10px 0px;
}

.customBtnStyle:hover {
  background-color: #ced4da;
  border: 1px solid #aeb0b4;
  font-size: 15px;
  padding: 10px 0px;
}

.notnull {
  color: red;
  padding-right: 3px;
  font-size: 14px;
}
