.blue_btn {
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background-color: #3bafda;
  color: #fff;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #3bafda;
  transition: background-color 0.3s, border 0.3s;
  margin: 10px;
}

.blue_btn:hover {
  background-color: #3095c2;
  border-color: #2884ab;
}

.gray_btn {
  font-size: 12px;
  text-align: center;
  color: #000000;
  font-family: '돋움', Dotum;
  border: 1px solid #ccc;
  background: linear-gradient(0deg, #f0f0f0, #fff);
  padding: 5px 5px;
}

.gray_btn:hover {
  background: linear-gradient(0deg, #dcdcdc, #fff);
}

.popup_blue_btn {
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-family: '돋움', Dotum;
  border: 1px solid #3bafda;
  background: #3bafda;
  padding: 5px 5px;
}

.popup_blue_btn:hover {
  background-color: #2a95c0;
}

.popup_gray_btn {
  font-size: 15px;
  text-align: center;
  color: #000000;
  font-family: '돋움', Dotum;
  border: 1px solid #ccc;
  background: linear-gradient(0deg, #f0f0f0, #fff);
  padding: 5px 5px;
}

.popup_gray_btn:hover {
  background: linear-gradient(0deg, #dcdcdc, #fff);
}

.popup_non_btn {
  width: 100% !important;
  height: 100% !important;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 0px;
}

.clip_non_btn {
  width: 100% !important;
  height: 100% !important;
  background-color: #dfe3e8;
  border: none;
  border-radius: 3px;
  margin-top: -2px;
}

.clip_non_btn:hover {
  width: 100% !important;
  height: 100% !important;
  background-color: #f0f2f4;
  border: none;
  border-radius: 3px;
  margin-top: -2px;
}

.non_btn {
  width: 100% !important;
  height: 100% !important;
  background-color: #f1f5f7;
  border: none;
}

.green_btn {
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center; /* 수평 가운데 정렬을 위한 속성 추가 */
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.green_btn:hover {
  background-color: #16987d; /* 약간 어둡게 변경된 배경색 */
  border: 1px solid #12866b; /* 어두운 테두리 추가 */
}

.red_btn {
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background-color: #f1556c;
  color: #fff;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #f1556c;
  transition: background-color 0.3s, border 0.3s;
}

.red_btn:hover {
  background-color: #e0455b;
  border-color: #d2354c;
}

.dark_btn {
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  background-color: #6c757d;
  color: #fff;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  transition: background-color 0.3s, border 0.3s;
}
.dark_btn:hover {
  background-color: #5a646c;
  border-color: #5a646c;
}

.light_btn {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  background-color: #f1f5f7;
  color: #323a46;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e5ecee;
  border-radius: 0.25rem;
  transition: background-color 0.3s, border 0.3s;
}

.light_btn:hover {
  background-color: #dee3e5;
  border-color: #dee3e5;
}

.white_btn {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  background-color: #fff;
  color: #323a46;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: background-color 0.3s, border 0.3s;
}

.white_btn:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #343a40;
}

.grey_btn {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  transition: background-color 0.3s, border 0.3s;
  border-radius: 0.25rem;
  color: #6c757d;
  background-color: rgba(108, 117, 125, 0.18);
  border-color: rgba(108, 117, 125, 0.12);
}

.grey_btn:hover {
  background-color: rgba(108, 117, 125, 0.25);
  border-color: rgba(108, 117, 125, 0.18);
}

.pupple_btn {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  transition: background-color 0.3s, border 0.3s;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6559cc;
  border-color: #6559cc;
}

.pupple_btn:hover {
  background-color: #5a4eb3;
  border-color: #5046a0;
}
