.box {
  padding: 0px 20px;
  background-color: white;
  border: 1px solid #e7eaed;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

hr {
  margin-top: 0px;
  border: none;
  border: 1px solid #e5e8eb !important;
}

.titleArea {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
}

.titleChildrenBox {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  gap: 5px;
}
