.popUpContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  font-size: 16px;
  font-weight: 700;

  background-color: #3bafda;
  color: #ffffff;
  padding-left: 10px;
}
