.custom_sign {
  width: 50px;
  height: 50px;
}

.reject {
  background-color: #ea4949;
  width: 50px;
  height: 50px;
  font-size: 13px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.approvalDate {
  font-size: 9px;
  background-color: lightgray;
}

.container {
  position: relative;
}

.returnSticker {
  position: absolute;
  top: 20px;
  left: 13px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
  padding: 0px 15px;
  border-radius: 5px;
}

.detailformContainer {
  margin-left: 15px;
  margin-right: 15px;
}
.downloadFile {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.Filepath {
  display: flex;
  align-items: center;
}
