.detailBox {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

.insertBoxArea {
  display: flex;
}
.replyBoxcontainer {
  width: 100%;
  padding: 1.5rem !important;
  display: flex;
  flex-direction: column;
  background-color: #f1f5f7;
  border-radius: 0.25rem;
}

.replycontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.replycontainer textarea {
  min-height: 36px;
  width: 90%;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}
.btnarea {
  display: flex;
  flex: 1;
  padding-left: 30px;
  justify-content: end;
  flex-grow: 1;
  gap: 10px;
}
.fileboxcontainer {
  display: flex;
  align-items: center;
  height: 100%;
}
.files {
  margin-top: 7px;
  font-size: 11px;
  color: #6c757d;
}
