.toggleGroup {
  width: 220px !important;
  margin-left: 10px;
  margin-right: 10px;

  position: fixed;
  bottom: 10px;

  background-color: #c0cdcf !important;
}

.toggle {
  width: 110px;
  color: #1f1f16;
  background-color: #97a4a6;
}
